/* ROOT */
:root {
    /* colors */
    --colorPrimary: #9597A5;
    --colorSecondary: #2D314D;
    /* backgrounds */
    --backgroundPrimary: ##2D314D;
    --backgroundSecondary: #9597A5;
    /* btn colors */
    --btnColor: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    --btnHover: ;
    --btnDisabled: ;
    /* fonts */
    --fontFamily: 'Public Sans', sans-serif;
    --fontWeight: ;
    --fontSize: ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight);
    font-size: var(--fontSize);
    background-color: var(--backgroundPrimary);
    color: var(--colorPrimary);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

button {
    background-color: var(--btnColor);
}

button:hover {
    opacity: 0.4;
}

.site-header-logo-link {
    margin-top: 33px;
}

.site-header-nav-ul {
    margin-left: 57px;
    display: flex;
    margin-top: 32px;
}

.site-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.site-header-nav-link {
    color: var(--colorPrimary);
    font-family: var(--fontFamily);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.108px;
}

.site-header-nav-link:hover {
    color: var(--colorSecondary);
}

.site-header-nav-li {
    margin-right: 30px;
}

.site-header-link {
    border: none;
    color: #FFF;
    font-family: var(--fontFamily);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 200% */
    background-image: var(--btnColor);
    margin-top: 18px;
    padding: 8px 36px;
    padding-left: 33px;
    border-radius: 22px;
}

.site-header-link:hover {
    opacity: 0.4;
}

.site-header-btn {
    border: none
}

/******************* footer start *******************/
.site-footer {
    height: 191px;
    background-color: var(--colorSecondary);
}

.footer-wrapper {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

.footer-logo-socials {
    width: 154px;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    height: 20px;
}

.footer-social-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 154px;
}

.foooter-btn-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-btn {
    margin-bottom: 26px;
    background-color: #FFF;
    background-image: var(--btnColor);
    border: none;
    border-radius: 22px;
    padding: 8px 36px;
    color: #FFF;
    font-family: var(--fontFamily);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

.footer-span {
    color: #FFF;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 173.333% */
    letter-spacing: -0.234px;
    opacity: 0.5;
}

.footer-logo {
    width: 635px;
    display: flex;
    justify-content: space-between;
}

.footer-ul {
    height: 94px;
    display: grid;
    width: 350px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.footer-li {
    height: 25px;
    width: 160px;
    margin-top: 7px;
}

.footer-li-a {
    color: #FFF;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.234px;
}

.footer-li-a:hover {
    color: #33D35E;
}

/******************* footer end *******************/


@media only screen and (min-width:350px) and (max-width:767px) {

    .site-header-nav,
    .site-header-link {
        display: none;
    }

    .container {
        max-width: 327px;
    }

    .site-header-btn {
        margin-top: 22px;
        width: 24px;
        height: 11px;
    }

    .site-header-logo-link {
        margin-top: 22px;
    }

    .site-footer {
        height: auto;
    }

    .footer-wrapper {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo-img {
        width: 139px;
        height: 20px;
    }

    .footer-logo {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo-socials{
        width: 184px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-li:nth-child(1){
        order:-5 ;
    }
    .footer-li:nth-child(2){
        order: ;
    }
    .footer-li:nth-child(3){
        order: -4;
    }
    .footer-li:nth-child(4){
        order: ;
    }
    .footer-li:nth-child(5){
        order:-3 ;
    }
    .footer-li:nth-child(6){
        order: ;
    }
    .footer-social-link{
        margin-left: auto;
        margin-right: auto;
        width: 184px;
    }

    .footer-social-img {
        width: 184px;
        height: 24px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .foooter-btn-div {
        margin-top: 316px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width:768px) {
    .site-header-btn {
        display: none;
    }

    .footer-logo {
        margin-bottom: 55px;
    }

}